@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto+Mono:wght@300&display=swap");

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
}
#harold_goodbye_img {
  justify-content: center;
  grid-column: 2;
  grid-row: 9/10;
  padding-bottom: -50px;
}
#res_1,
#res_2,
#res_3 {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Roboto Mono";
  grid-column: 2;
  justify-content: center;
}
#res_1{grid-row: 3}
#res_2{grid-row:5}
#res_3{grid-row:7}
nav {
  background-color: #b80000;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  grid-column: 1/3;
  grid-row: 1;
  height: fit-content;
  list-style-type: none;
  display: flex;
  width: 100%;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: "Comic Neue";
}

nav a:hover {
  background-color: #0000b8;
}

footer {
  display: flex;
  background-color: #0000b8;
  color: white;
  padding: 25px 50px;
  margin-top: 300px;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 10;
  width: 100%;
}

footer a {
  color: white;
  text-align: center;
  text-decoration: none;
}
