p 
 {text-align: center; background-color: palegreen;box-shadow: 3px 3px 3px 3px lightslategray;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
nav { text-align: left;}

h1 {text-align: center;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
h4{background-color:palegreen;box-shadow: 3px 3px 3px 3px lightslategray;display: block; margin-left: 25px;
    margin-right: auto;
    width: 25%;}

h5 {text-align: center;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cat_1 {
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
 body 
  {background-color: whitesmoke;}
  
footer
  {text-align: center;}

#progbar {  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.label_center
{text-align: center;  display: block;}
.music{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.pop{
    margin-left:12%;
    width: 15%;}